<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Foul Language alert</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />

</head>
<body>
<div class="container text-center">
     <br>
    <img class="img-fluid" width="275" height="275" th:src="@{/images/offensiveLanguage.png}" />
    <h3>You cannot use foul/offensive language in this forum. Your question is not submitted !</h3>
    <h4><a th:href="@{/forum.html}">Back to forum page</a></h4>
</div>

</body>
</html>