<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Notifications</title>
    <!--Title Icon-->
    <link rel= "icon" href = "images/elearnerlogo.PNG"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>


    <!--Axios CDN-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body onload="loadNotificationPanel()">
<div class="container text-center">
   <br>
    <a class="btn btn-primary" href="forum.html" role="button">Back to Forum</a>
    <a class="nav-link" href="#otheranswersnotifications">Notifications from questions that you answered previously</a>
    <div>
        <h1>Notification Panel</h1>
    </div>


    <div class="row justify-content-center">


        <table class="table table-striped table-bordered" >
            <thead class="thead-dark">

            </thead>
            <tbody>
            <tr th:each="notification: ${notificationsList}">

                <td style="  color:red;font-weight: bold;" th:text="${notification.respondedUserName}"></td>
                <td><b>answered your question</b></td>
                <td th:utext="${notification.respondedFullQuestion}"></td>
                <td><a  th:href="@{/showNotifiedQuestion(question_id=${notification.respondedQuestionId})}" class="btn btn-success ml-2">Show Question</a></td>
                <td><b>at</b></td>
                <td th:text="${notification.responseSubmittedTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <h2>Notifications from questions that you answered previously</h2>
    <div id="otheranswersnotifications" class="section wb">



    <div class="row justify-content-center">


        <table class="table table-striped table-bordered" >
            <thead class="thead-dark">

            </thead>
            <tbody>
            <tr th:each="loggedUserAnsweredQuestionNotification: ${loggedUserAnsweredQuestionNotificationList}">

                <td style="  color:red;font-weight: bold;" th:text="${loggedUserAnsweredQuestionNotification.respondedUserName}"></td>
                <td><b>also answered the question </b></td>
                <td th:utext="${loggedUserAnsweredQuestionNotification.respondedFullQuestion}"></td>
                <td><b>that you answered previously</b></td>
                <td><a  th:href="@{/showNotifiedQuestion(question_id=${loggedUserAnsweredQuestionNotification.respondedQuestionId})}" class="btn btn-success ml-2">Show Question</a></td>
                <td><b>at</b></td>
                <td th:text="${loggedUserAnsweredQuestionNotification.responseSubmittedTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="forum.html" role="button">Back to Forum</a>
</div>
<script src="script.js"></script>

</body>
</html>