<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <!--Title Icon-->
    <link rel= "icon" href = "images/elearnerlogo.PNG"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input class="btn btn-danger" type="submit" value="Sign Out ">
        </form>
    </div>
    <br>
    <a class="btn btn-primary" href="admin.html" role="button">Back to Admin</a>
    <div>
        <h1>List of Users</h1>
    </div>

    <form th:action="@{/searchRegisteredUsers}">
        Search Users Email: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        &nbsp;
        <input class="btn btn-primary" type="submit" value="Search" />
        &nbsp;
        <!--<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />-->
        <a class="btn btn-primary" href="users.html" role="button">Clear</a>
    </form><br>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Registered Time</th>
                <th>E-mail</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${usersList}">
                <td th:text="${user.userId}">User ID</td>
                <td th:text="${user.registeredTime}">User ID</td>
                <td th:text="${user.email}">E-mail</td>
                <td th:text="${user.fullName}">Full Name</td>
                <td th:text="${user.role}">Role</td>
                <td><a th:href="@{/removeUser(userId=${user.userId})}" onclick="approveDeleteUser()" class="btn btn-danger ml-2">Remove user</a> <a th:href="@{/changeRole(userId=${user.userId})}" onclick="changeRole()" class="btn btn-success ml-2">Change Role</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="admin.html" role="button">Back to Admin</a>
</div>

<script src="script.js"></script>
</body>
</html>